<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- title -->
  <title>Vanity Roles</title>
  <meta name="description" content="Vanity Roles">
  <link href="/static/styles/styles.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/favicons/site.webmanifest">
  <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="/static/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#000000">
  <meta property="og:image"
    content="https://cdn.discordapp.com/avatars/1057043734526701589/8b0046fffa65198d75d977f626ded25e.png?size=256" />
  <meta name="msapplication-config" content="./favicons/browserconfig.xml">
  <meta name="theme-color" content="#000000">
</head>

<body class="bg-primary-dark">
  <header class="text-gray-400 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center mb-4 md:mb-0" href="https://vanityroles.com/">
        <span class="ml-3 text-xl text-white cursor-pointer">Vanity Roles</span>
      </a>
      <nav class="pl-12 md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-6 md:mr-8 hover:text-white cursor-pointer" href="https://vanityroles.com/">Home</a>
        <a class="mr-6 md:mr-8 hover:text-white cursor-pointer" href="https://docs.vanityroles.com"
          target="_blank">Docs</a>
        <a class="mr-6 md:mr-8 hover:text-white cursor-pointer" href="https://discord.gg/vanityroles" target="_blank">Support</a>

      </nav>
      <a href="https://vanityroles.com/dashboard.html" target="_blank">
        <button
          class="hidden md:inline-flex items-center text-white bg-primary-blue border-0 py-[0.4rem] px-4 focus:outline-none hover:bg-gray-300 hover:text-primary-blue rounded font-medium mt-4 md:mt-0">
          Dashboard
          <svg fill="none" stroke="currentColor" strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
            class="mt-[0.08rem] w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </a>
    </div>
  </header>

  <div class="relative px-4 pt-16 mx-auto lg:py-32 md:px-8 xl:px-20 sm:max-w-xl md:max-w-full">
    <div class="max-w-xl mx-auto lg:max-w-screen-xl">
      <div class="mb-16 lg:max-w-lg lg:mb-0">
        <div class="max-w-xl mb-6">
          <div>
            <p
              class="inline-block py-px mb-4 text-xs font-semibold tracking-wider text-white p-2 uppercase rounded-full bg-slate-500">
              Discord Bot
            </p>
          </div>
          <h2
            class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl sm:leading-none">
            A discord bot
            <br class="hidden md:block" />
            to expand your
            <span class="inline-block text-deep-purple-accent-400">
              vanity usage
            </span>
          </h2>
          <p class="text-base text-slate-400 md:text-lg">
            Vanity Roles is useful in many different ways. It can help you grow your server by rewarding members with
            roles for adding your vanity to their custom status. We also offer other features such as assigning roles
            based on game activity, and a fully customizable embed notification.
          </p>
        </div>
        <div class="flex items-center">
          <a class="inline-flex cursor-pointer bg-primary-blue items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md hover:bg-white hover:text-primary-blue focus:shadow-outline focus:outline-none"
            href="https://discord.com/api/oauth2/authorize?client_id=1057043734526701589&permissions=2415971328&scope=bot"
            target="_blank">
            Invite the bot
          </a>
          <a href="https://discord.gg/vanityroles" target="_blank"
            class="inline-flex cursor-pointer bg-primary-card items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md hover:bg-white hover:text-primary-blue focus:shadow-outline focus:outline-none"><svg
              xmlns="http://www.w3.org/2000/svg" width="27" fill="currentColor" class="bi bi-discord"
              viewBox="0 0 16 16" height="23" style="margin-right: 11px;">
              <path
                d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z">
              </path>
            </svg>Discord</a>
        </div>
      </div>
    </div>
  </div>
  </div>

  <footer class="p-4 sm:p-6">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col ">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" href="https://vanityroles.com/">
        <span class="ml-3 text-xl text-slate-400">Vanity Roles</span>
      </a>
      <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
        © 2022 Vanity Roles. All rights reserved.
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <p onclick="window.open('https://discord.gg/vanityroles')" class="text-gray-500 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-discord"
            viewBox="0 0 16 16">
            <path
              d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z" />
          </svg>
        </p>
      </span>
    </div>
  </footer>
</body>

</html>