<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- title -->
    <title>Vanity Roles - Premium</title>
    <meta name="description" content="Vanity Roles is useful in many different ways. It can help you grow your server by rewarding members with
    roles for adding your vanity to their custom status.">
    <meta name="og:description" content="Vanity Roles is useful in many different ways. It can help you grow your server by rewarding members with
    roles for adding your vanity to their custom status.">
    <meta property="og:title" content="Vanity Roles | Discord Bot" />
    <link href="/static/styles/styles.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#000000">
    <meta property="og:image"
      content="https://cdn.discordapp.com/avatars/1057043734526701589/8b0046fffa65198d75d977f626ded25e.png?size=256" />
    <meta name="msapplication-config" content="./favicons/browserconfig.xml">
    <meta name="theme-color" content="#000000">
  </head>
<body class="bg-primary-dark">
  <header class="text-gray-400 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center mb-4 md:mb-0">
        <span class="ml-3 text-xl text-white cursor-pointer">Vanity Roles</span>
      </a>
      <nav class="pl-12 md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-6 md:mr-8 hover:text-white cursor-pointer" href="https://vanityroles.com" target="_blank">Home</a>
        <a class="mr-6 md:mr-8 hover:text-white cursor-pointer" href="https://docs.vanityroles.com"
          target="_blank">Docs</a>
        <a class="mr-6 md:mr-8 hover:text-white cursor-pointer" href="https://discord.gg/vanityroles">Support</a>

      </nav>
      <a href="https://store.vanityroles.com" target="_blank">
        <button style="margin-right: 1rem;"
          class="hidden md:inline-flex items-center text-white bg-primary-blue border-0 py-[0.4rem] px-4 focus:outline-none hover:bg-gray-300 hover:text-primary-blue rounded font-medium mt-4 md:mt-0">
          Premium
        </button>
      </a>
      <a href="https://dashboard.vanityroles.com" target="_blank">
        <button
          class="hidden md:inline-flex items-center text-white bg-primary-blue border-0 py-[0.4rem] px-4 focus:outline-none hover:bg-gray-300 hover:text-primary-blue rounded font-medium mt-4 md:mt-0">
          Dashboard
        </button>
      </a>

    </div>
  </header>
  <section id="hero" class="hero d-flex align-items-center">
    
    <div class="container">
      <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
      <stripe-pricing-table 
        pricing-table-id="prctbl_1N5UL0LDPk3i0bRSz8UnbIhb"
        publishable-key="pk_live_GVWvR7vQo7FxweI8nE7ba4qX">
      </stripe-pricing-table>
    </div>

  </section>
</body>
</html>